//custom-utilities
.gap-30 {
  gap: 30px;
}

//layout
#template-container {
  gap: 80px;

  @media( max-width: 576px ) {
    &.thin-container {
      padding: 0px;
    }
  }

  section {
    width: 100%;
  }

  .h4 {
    @media( max-width: 576px ) {
      font-size: 20px;
    }
  }

  .sm-container {
    @media ( max-width: 576px ) {
      box-sizing: border-box;
      padding: 0px 40px !important;
    }
  }

  //#tags-container {
  //  //display: flex;
  //}

  //DESCRIPTION-1
  #description-1 {
    #text-container { gap: 0px }

    @media( min-width: 576px ) {
      #text-container { order: 2; }
      .h4 { order: 1; }
    }
  }

  #large-multimedia {
    max-width: 900px;
    //margin: 0 auto;
  }
}