#home-view {

	.column-container {
		gap: 150px;
    
    @media (max-width: 768px) {
      gap: 120px;
    }
    @media (max-width: 576px) {
      gap: 100px;
    }
	
		.presentation {
			gap: 20px;

			.h1 {
				width: 80%;

        @media (max-width: 992px) {
          width: 100%;
        }
        @media (max-width: 768px) {
          font-size: 30px;
        }
        @media (max-width: 576px) {
          font-size: 24px;
        }
			}
		}

    .cards-container {
      gap: 120px;

      @media (max-width: 768px) {
        gap: 80px;
      }
    }
	}
}