$primary-color: #1E202E;

//background-colors
$bg-900: #1E202E;
$bg-700: #505067;
$bg-500: #8585A8;
$bg-300: #B7B7D5;
$bg-100: #EBEBF3;

//text-colors
$t-gray: #6B6C74;
$t-white: #FFFFFF;

//accent-color
$g-500: #9ACD32;
$g-300: #CCE797;
$o-500: #FFA500;
$o-300: #FDDFA5;

//background-color-utilities
.bg-primary { background-color: $primary-color !important }
.bg-900 { background-color: $bg-900 !important }
.bg-700 { background-color: $bg-700 !important }
.bg-500 { background-color: $bg-500 !important }
.bg-300 { background-color: $bg-300 !important }
.bg-100 { background-color: $bg-100 !important }

//text-color-utilities
.t-gray { color: $t-gray !important }
.t-white { color: $t-white !important }