// Often-used-utilities -------------------------------------------------------------
strong {
  font-weight: bold !important;
}
.fit-content {
  width: fit-content;
}

// cursor-utilities
.pointer {
  cursor: pointer;
}

// Typo-utilities
.italic {
  font-style: italic !important;
}
.light {
  font-weight: lighter !important;
}
.normal {
  font-weight: normal !important;
}
.bold {
  font-weight: bold !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.underline {
  text-decoration: underline !important;
}
.letter-spaced {
  letter-spacing: 1.5px !important;
}
.hover-bold {
  &:hover { font-weight: bold !important;}
}
.hover-underline {
  &:hover { text-decoration: underline !important;}
}
.hover-ts-green {
  &:hover { text-shadow: 0 0 10px greenyellow; }
}
// Custom-utilities -------------------------------------------------------------
.thin-container {
	width: 992px;

  @media (max-width: 992px) {
    width: 100%;
    padding: 0 80px;
  }
  @media (max-width: 768px) {
    padding: 0 40px;
  }
}
.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.ul-format {
  ul {
    padding-left: 15px !important;
  }
}
.text-title {
  font-weight: 700 !important;
  margin-bottom: 7.5px;

  &.uppercase {
    text-transform: uppercase !important;
  }
}
.text-accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out, min-height .5s ease-in-out;

  &.active {
    min-height: 200px;
    max-height: 200px;
  }
}