@import '@/styles/color.scss';

#footer-component {
  .footer {
    gap: 20px;
    margin-bottom: 80px;

    .garamond {
      font-size: 18px;
    }

    .nav-options {
      gap: 40px;
      a { transition: all .2s ease-in-out; }
    }
  }

}