.header-container {
	padding-top: 40px;

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

    @media (max-width: 720px) {
      flex-direction: column;
      gap: 20px;
    }

		.logo {
			font-family: 'Dancing Script', cursive;
			font-size: 45px;

      @media (max-width: 540px) {
  			font-size: 24px;
      }
		}

		nav {
			display: flex;
			flex-direction: row;
			gap: 40px;
			text-decoration: none;

			a {
				text-decoration: none;
				font-weight: 300;

				&.router-link-exact-active {
					font-weight: bolder;
					text-decoration: underline;
				}
			}

			.language-toggler {
				cursor: pointer;

				&.is-active {
					font-weight: bolder;
				}
			}
		}
	}
}